<nav class="nav-extended">
    <div class="nav-wrapper">
        <div class="container" style="width: 100%">
            <a href="#" class="brand-logo">Trendly</a>

            <div class="nav-content">
                <div id="menu-nav" class="row">
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="/about">About</a></li>
                        <li><a href="/faq">FAQ</a></li>
                        <li><a href="/">Sign Out</a></li>
                    </ul>
                </div>

                <ul class="tabs tabs-transparent">
                    <li class="tab"><a href="/data" id="add-goal" class="btn-small">Add a goal</a></li>
                    <li class="tab"><a href="/home" id="all" class="btn-small">My Goals</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<table>
  <thead>
    <tr>
      <th>My Goals</th>
    </tr>
  </thead>
  <tbody>
    {{#each goals}}
    <tr>
      <td>{{goal}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>