<nav class="nav-extended">
    <div class="nav-wrapper">
        <div class="container" style="width: 100%">
            <a href="#" class="brand-logo">Trendly</a>

            <div class="nav-content">
                <div id="menu-nav" class="row">
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="/about">About</a></li>
                        <li><a href="/faq">FAQ</a></li>
                        <li><a href="/">Sign Out</a></li>
                    </ul>
                </div>

                <ul class="tabs tabs-transparent">
                    <li class="tab"><a href="/data" id="add-goal" class="btn-small">Add a goal</a></li>
                    <li class="tab"><a href="/home" id="all" class="btn-small">My Goals</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div id="faq-box">
    <h1>Frequently Asked Questions:</h1>
    <ul>
        <li><h2>Q: Who created this website?</h2></li>
        <li><h3>A: Abraham, Devon, Anne, and Alex</h3></li>
        <li><h2>Q: What is ADAAPT?</h2></li>
        <li><h3>A: Abraham, Devon, Anne, Alex, and two other letters</h3></li>
        <li><h2>Q: What if I run out of goals?</h2></li>
        <li><h3>A: You will never run out of goals at Trendly! Each time you log in you will create more!</h3></li>
    </ul>
</div>




<style>
    h1 {
        font-family: 'Lobster', cursive;
        color: rgb(255, 255, 255);
        font-size: 6rem;
        text-shadow: 0px 0px 10px rgb(0, 0, 0);
    }
    h2 {
        font-size: 1.4rem;

    }
    h3 {
        position: relative;
        left: 20px;
        bottom: 10px;
        font-size: 1.4rem;
    }
    #faq-box {
        position: relative;
        top: 30px;
        background-color: rgba(0, 0, 0, 0.164);
        width: 70%;
        color: white;
        text-align: left;
        padding: 80px;
        border-radius: 30px;
        margin: auto;
        margin-bottom: 100px;
    }
</style>